* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a{
    list-style: none;
    text-decoration: none;
    color:blue;
}

header ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: lightgray;
    padding: 10px;
}

header ul li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.home-content{
    text-align: center;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    background-color: rgb(165, 158, 158);
    padding: 2em 2em;
}

footer a{
    list-style: none;
    text-decoration: none;
    color:blue;
}

footer ul{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.home-content h1{
    padding: 20px 10px;
}

.home-content p{
    padding: 15px 5px;
    font-size: 17px;
}

.todo a{
    text-decoration: none;
}

.start-link{
    border-radius: 5px;
    padding: 8px 16px;
    background-color: rgb(150, 150, 189);
    color: #222;
}

.start-link:hover{
    background-color: rgb(100, 100, 150);
    color: white;
    transition: 0.3s;
}